body {
  background-color: azure;
}

.button {
  display: inline-block;
  font-size: 1.2rem;
  background-color: paleturquoise;
  border-radius: 8px;
  padding: .25rem .75rem;
  transition: background-color 1s ease-out 200ms;
}

.button:hover {
  background-color: skyblue;
}
