body {
    background-image: url(../image/bg_torutk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template:
    "header header" auto
    "sidebar main" 1fr
    "footer footer" auto / auto 1fr;
    gap: 20px;
    height: 100vh;
}

header {
    grid-area: header;
    position: relative;
    padding: 0.3em 0.5em;
    /*
    background: linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
     */
    color: navy;
    text-align: center;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
}
aside ul {
    white-space: nowrap;
}

footer {
    grid-area: footer;
}

table {
    border-collapse: collapse;
}

thead td {
    background-color: honeydew;
}

th, td {
    border: solid 1px;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}
