body {
    background-image: url(../image/bg_torutk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: relative;
    padding: 0.3em 0.5em;
    /*
    background: linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
     */
    color: navy;
    text-align: center;
}

table {
    border-collapse: collapse;
}

thead td {
    background-color: honeydew;
}

th, td {
    border: solid 1px;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

.table-of-contents {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}